<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
</body>
<form action="/chat/">
    {% for item in list %}
        <div>{{ item }}</div>
    {% endfor %}
</form>
</body>
</html>